{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "id-length": 0,
    "new-cap": 0,
    "func-names": 0,
    "consistent-return": 0,
    "no-use-before-define": 0,
    "no-debugger": 0,
    "spaced-comment": 0,
    "no-console": 0,
    "no-alert": 0,
    "react/prop-types": 0,
    "comma-dangle": 0
  },
  "plugins": [
    "react"
  ]
}
